[importlinter]
root_package = mcp_tools_py
root_package_paths = src
include_external_packages = True

[importlinter:contract:layers]
name = Layered Architecture
type = layers
layers =
    mcp_tools_py.main
    mcp_tools_py.server
    mcp_tools_py.checker_tools | mcp_tools_py.refactoring | mcp_tools_py.utility_tools | mcp_tools_py.inspect_library | mcp_tools_py.formatter
    mcp_tools_py.code_checker_pytest | mcp_tools_py.code_checker_pylint | mcp_tools_py.code_checker_mypy | mcp_tools_py.code_checker_ruff | mcp_tools_py.code_checker_bandit | mcp_tools_py.code_checker_vulture | mcp_tools_py.code_checker_tach | mcp_tools_py.code_checker_lint_imports
    mcp_tools_py.utils
ignore_imports =
    mcp_tools_py.checker_tools -> mcp_tools_py.server
    mcp_tools_py.formatter.formatter_tools -> mcp_tools_py.server
    mcp_tools_py.refactoring -> mcp_tools_py.server
    mcp_tools_py.utility_tools -> mcp_tools_py.server
    mcp_tools_py.inspect_library -> mcp_tools_py.server

[importlinter:contract:forbidden-imports]
name = Forbidden external imports
type = forbidden
source_modules =
    mcp_tools_py.utils
forbidden_modules =
    mcp_tools_py.code_checker_pytest
    mcp_tools_py.code_checker_pylint
    mcp_tools_py.code_checker_mypy
    mcp_tools_py.code_checker_ruff
    mcp_tools_py.code_checker_bandit
    mcp_tools_py.code_checker_vulture
    mcp_tools_py.code_checker_tach
    mcp_tools_py.code_checker_lint_imports
    mcp_tools_py.checker_tools
    mcp_tools_py.refactoring
    mcp_tools_py.utility_tools
    mcp_tools_py.inspect_library
    mcp_tools_py.formatter
    mcp_tools_py.server

[importlinter:contract:mcp_coder_utils_isolation]
name = mcp_coder_utils imports only via shims
type = forbidden
source_modules =
    mcp_tools_py
forbidden_modules =
    mcp_coder_utils
ignore_imports =
    mcp_tools_py.log_utils -> mcp_coder_utils
    mcp_tools_py.utils.file_utils -> mcp_coder_utils
    mcp_tools_py.utils.subprocess_runner -> mcp_coder_utils
