[importlinter]
root_package = mcp_tools_py
root_package_paths = src

[importlinter:contract:layers]
name = Layered Architecture
type = layers
layers =
    mcp_tools_py.main
    mcp_tools_py.server
    mcp_tools_py.code_checker_pytest
    mcp_tools_py.code_checker_pylint  
    mcp_tools_py.code_checker_mypy
    mcp_tools_py.utils
    mcp_tools_py.log_utils

[importlinter:contract:forbidden-imports]
name = Forbidden external imports
type = forbidden
source_modules =
    mcp_tools_py.utils
forbidden_modules =
    mcp_tools_py.code_checker_pytest
    mcp_tools_py.code_checker_pylint
    mcp_tools_py.code_checker_mypy
    mcp_tools_py.server